.form {
  display: flex;
  gap: 40px;
  padding: 40px 0;
  align-items: center;

  textarea {
    max-width: 750px;
    width: 100%;
    padding: 20px;
    min-height: 100px;
    max-height: 200px;
  }

  button {
    border-radius: 10px;
    background-color: var(--orange);
    padding: 10px;
    height: fit-content;
  }
}

.comment_container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.comment {
  display: flex;
  justify-content: space-between;
}

.user_container {
  display: flex;
  flex-direction: column;
  gap: 10px;


  .user_info {
    display: flex;
    gap: 10px;
  }

  .date {
    font-weight: light;
  }

  .img_user {
    border-radius: 50px;
    object-fit: cover;
  }
}

.delete_logo {
  padding: 20px;
  cursor: pointer;
  color: var(--red_error);
}
