.container_title {
  display: flex;

  div {
    flex: 1;
    display: flex;
  }

  .info_title {
    display: flex;
    flex-direction: column;
    padding-left: 40px;

    h1 {
      font-size: 50px;
      margin: 40px 0;
    }

    .user_container {
      display: flex;
      align-items: center;
      gap: 10px;

      div {
        display: flex;
        flex-direction: column;
      }

      .date {
        font-weight: light;
      }

      .img_user {
        border-radius: 50px;
        object-fit: cover;
      }
    }
  }
  .container_img {
    width: 300px;
    height: 205px;
    position: relative;

    img {
      object-fit: contain;
    }
  }
}