.slug {
  p {
    font-style: italic;
    font-weight: 200;
  }

  svg {
    font-size: 12px;
    margin: 0 10px;
  }
}

.container_title {
  display: flex;
  gap: 20px;

  div {
    flex: 1;
    display: flex;
  }
}

.info_title {
  display: flex;
  flex-direction: column;
  padding-left: 40px;

  h1 {
    font-size: 50px;
    margin: 40px 0;
  }

  .user_container {
    display: flex;
    align-items: center;
    gap: 10px;

    div {
      display: flex;
      flex-direction: column;
    }

    .date {
      font-weight: light;
    }

    .img_user {
      border-radius: 50px;
      object-fit: cover;
    }
  }
}
.container_img {
  width: 500px;
  min-width: 500px;
  height: 300px;
  position: relative;

  img {
    object-fit: contain;
  }
}

//---------------STYLE FOR THE ARTICLE FROM THE HTML FROM REACT QUILL---------------
.article {
  pre {
    word-wrap: break-word;
    white-space: pre-wrap;
  }
}

//---------------RESPONSIVE---------------
@media screen and (max-width: 900px) {
  .container_title {
    flex-direction: column;

    div {
      flex: auto;
    }
  }

  .info_title {
    padding-left: 0;
  }
  .container_img {
    width: 100%;
    min-width: 300px;
 
  }
}
