.title {
  font-weight: normal;
  font-size: 50px;
  padding: 40px 0;

  span {
    font-weight: bold;
  }
}

.presentation {
  padding: 40px 0;
  display: flex;

  .presentation_img {
    position: relative;
    width: 500px;
    height: 300px;
    flex: 1;
    img {
      object-fit: cover;
      border-radius: 20px;
    }
  }
  
  .presentation_text {
    flex: 1;
    display: flex;
    padding: 40px;
    font-size: 20px;
  }
}

.container {
  display: flex;
  margin: 20px 0;
}

.section_article {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 80%;
}