.container_img {
  position: relative;
  width: 100%;
  height: 200px;

  img {
    object-fit: cover;
  }
}

.title {
    margin: 20px 0;
}

.website {
    color: rgb(0, 132, 255);
    text-decoration: underline;
    font-style: italic;
}

.list_contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
