:root {
  --box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);

  //COLOR
  --red_error: #ce2610;
  --green_succes: #25bd34;
  --green: #e5efe6;
  --red: #fee2de;
  --blue: #dfdcfc;
  --violet: #fee0dd;
  --orange: #fde6d5;
  --black: #000;
  --gray: #d6d6d6;
  --gray_light: #e6e6e6;
}
