@import "./variables";
@import "./mixins";
@import "./error";
@import "./loader";
@import "./reset";

.body_wrapper {
  max-width: 1100px;
  height: 100%;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}


// CONTAINER
.container_aside {
  display: flex;
  padding: 40px 0;
  gap: 20px;
}

.section_aside_left {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 80%;
}

// slug
.slug {
  p {
    font-style: italic;
    font-weight: 200;
  }

  svg {
    font-size: 12px;
    margin: 0 10px;
  }
}

//----------------------RESPONSIVE----------------------
@media (max-width: 1200px) {
  main {
    padding: 0 20px;
  }
}

@media (max-width: 1100px) {
  .container_aside {
    flex-direction: column;

    .section_aside_left {
      width: 100%;
    }
  }
}
