.long_content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
  max-width: 100px;
}

.category {
  padding: 5px 10px;
  border-radius: 20px;
  width: fit-content;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
  padding: 20px;
  height: 100%;
  width: 100%;

  img {
    width: 50px;
    height: 50px;
  }

  .img_update {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    border: 1px solid gray;
    padding: 10px;
  
    button {
      border-radius: 4px;
      border: none;
      background-color: var(--green);
      color: var(--white);
      padding: 5px;
    }
  }

  .inputForm {
    display: flex;
    flex-direction: column;
    position: relative;

    input, select {
      border-radius: 4px;
      border: 1px solid gray;
      padding: 10px;
      width: 100%;
    }
  }
}
