// LOGIN AND SIGNUP
.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px;

  div {
    display: flex;
    flex-direction: column;
    position: relative;

    input, p {
      border-radius: 4px;
      border: 1px solid gray;
      padding: 10px;
    }

    p {
        background-color: var(--gray_light);
    }

    svg {
      position: absolute;
      right: 10px;
      top: 35px;
      cursor: pointer;
      width: 18px;
    }
  }

  button {
    border-radius: 4px;
    border: none;
    background-color: var(--green);
    color: var(--white);
    padding: 10px;
  }

  .error_msg {
    font-style: italic;
    color: var(--red_error);
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .form {
    margin: 0;
  }
}
