.container_user {
  padding: 20px;
  box-shadow: var(--box-shadow);
  border-radius: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info_user {
  padding-bottom: 40px;
}

.edit {
  padding-top: 20px;
  font-style: italic;
  font-weight: 300;
  cursor: pointer;
}

.container_img {
  width: 150px;
  height: 150px;
  position: relative;

  img {
    border-radius: 100%;
  }
}

.logout {
  border-radius: 10px;
  background-color: var(--blue);
  padding: 10px;
  width: fit-content;
}
