@import "@/styles/mixins";

.list_links {
  display: flex;
  gap: 20px;

  li {
    list-style: none;
    position: relative;
  }

  .active_link {
    font-weight: 800;
  }
}

.hamburger {
  display: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.responsive_nav {
  position: fixed;
  width: 100%;
  padding: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;

  z-index: 10;
  background-color: white;
  box-shadow: var(--box-shadow);

  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
  }

  li:hover {
    font-weight: bold;
  }
}

@media (max-width: 880px) {
  .hamburger {
    display: block;
  }

  .list_links {
    display: none;
  }
}
