@import "@/styles/mixins";

.list_links {
  display: flex;
  gap: 20px;

  li {
    list-style: none;
    position: relative;
  }

  .active_link {
    font-weight: 800;
  }
}

.hamburger {
  display: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.modal_nav {
  padding: 20px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  position: fixed;
  display: flex;
  @include absolute-center;
  z-index: 1000;
  background-color: white;
}

@media (max-width: 880px) {
  .hamburger {
    display: block;
  }

  .list_links {
    display: none;
  }
}
