.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px 50px;
  padding: 20px 0;

  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

// LEFT
.media_container {
  p {
    max-width: 400px;
    font-size: 14px;
  }
  div {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 20px;
  }
}

.social_media {
  display: flex;
  gap: 20px;
}

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

// RIGHT
.nav_container {
  display: flex;
  flex-direction: column;
  gap: 40px;

  p {
    font-weight: bold;
  }
}

.nav {
  display: flex;
  gap: 10px;
}
.links {
  display: flex;
  gap: 10px;
}

@media (max-width: 1100px) {
  .footer {
    padding: 20px;
  }
}

@media (max-width: 957px) {
  .footer {
    justify-content: center;
  }
}
