.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header_fixed {
  position: fixed;
  background-color: white;
  width: 100%;
}

.social_media {
  display: flex;
  gap: 20px;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  h1 {
    font-size: 20px;
  }
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
